.about-company {
  width: 100%;
  font-family: Montserrat;
  background-color: #1c2a33;
  position: relative;
  @include breakpoint (991) {
    overflow: auto;
  }
  .col-lg-6 {
    .image-company {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-right: 60px;
      @include breakpoint(991) {
        position: relative;
        margin: 0;
      }
    }
    .title-feature {
      text-align: left;
      color: #fff;
      @include breakpoint(991) {
        padding: 70px 0;
        text-align: center;
        &:before {
          left: 50% !important;
        }
        &:after {
          left: 52% !important;
        }
      }
      @include breakpoint(480) {
        padding: 25px 0;
      }
      &:before {
        left: 20%;
      }
      &:after {
        left: 22%;
      }
    }
    .nav-tabs {
      text-transform: uppercase;
      background-color: transparent;
      border-bottom: none;
      @include breakpoint(991) {
        @include flexbox();
        @include justify-content(center);
      }
    }
  }
}
.tab-content {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 95px;
  @include breakpoint(991) {
    margin-bottom: 30px;
    .progress {
      width: 95% !important;
      margin: 20px !important;
    }
  }
  .nav {
    .nav-item {
      color: #18cfab;
      background-color: transparent;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      padding: 10px 0;
      margin-right: 20px;
      border: 0;
      position: relative;
      cursor: pointer;
      &:hover,
      &:active {
        color: #18cfab;
        &:after {
          visibility: visible;
        }
      }
      &:after {
        content: '';
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-top: 2px solid #18cfab;
        visibility: hidden;
      }
    }
    .react-tabs__tab--selected {
      color: #18cfab;
    }
  }
  .progress {
    margin: 10px 0;
    position: relative;
    width: 80%;
    padding: 20px;
    height: auto;
    z-index: 1;
    border-radius: 5px;
    &:before {
      content: '';
      background-color: #aaa;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      border-radius: 5px;
      z-index: -1;
    }
  }
  .interface-history {
    &:before {
      content: '';
      background-color: #9c5da5;
      width: 60%;
    }
  }
  .web-design-history {
    &:before {
      content: '';
      background-color: #11b0de;
      width: 50%;
    }
  }
  .wordpress-history {
    &:before {
      content: '';
      background-color: #d67f7f;
      width: 60%;
    }
  }
  .html-history {
    &:before {
      content: '';
      background-color: #20bc9d;
      width: 50%;
    }
  }
  .app-design-history {
    &:before {
      content: '';
      background-color: #bb8a36;
      width: 65%;
    }
  }
  .interface-biog {
    &:before {
      content: '';
      background-color: #9c5da5;
      width: 66%;
    }
  }
  .web-design-biog {
    &:before {
      content: '';
      background-color: #11b0de;
      width: 78%;
    }
  }
  .wordpress-biog {
    &:before {
      content: '';
      background-color: #d67f7f;
      width: 21%;
    }
  }
  .html-biog {
    &:before {
      content: '';
      background-color: #20bc9d;
      width: 55%;
    }
  }
  .app-design-biog {
    &:before {
      content: '';
      background-color: #bb8a36;
      width: 99%;
    }
  }
  .interface-skill {
    &:before {
      content: '';
      background-color: #9c5da5;
      width: 57%;
    }
  }
  .web-design-skill {
    &:before {
      content: '';
      background-color: #11b0de;
      width: 64%;
    }
  }
  .wordpress-skill {
    &:before {
      content: '';
      background-color: #d67f7f;
      width: 64%;
    }
  }
  .html-skill {
    &:before {
      content: '';
      background-color: #20bc9d;
      width: 75%;
    }
  }
  .app-design-skill {
    &:before {
      content: '';
      background-color: #bb8a36;
      width: 89%;
    }
  }
}
