.contact {
  padding-top: 100px;
  .col-md-6 {
    .mapsStyte {
      width: 78%;
      @include breakpoint(768) {
        height: 400px !important;
      }
    }
    .image-contact {
      width: 100%;
      padding-top: 10px;
      padding-left: 10px;
      // margin-top: 95px;
    }
    .title-feature {
      padding-top: 0;
      padding-bottom: 60px;
      text-align: left;
      display: block;
      float: left;
      &:before {
        top: 70%;
        left: 33%;
      }
      &:after {
        top: 73%;
        left: 40%;
      }
    }
  }
}
.contact-form {
  margin-bottom: 120px;
  textarea {
    margin-bottom: 10px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:80%;
    height: 130px;
    resize: none;
    text-align:left;
    font-family: Arial;
    @include breakpoint(767) {
      width: 100%;
    }
  }
  input[type=text] {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    @include breakpoint(767) {
      width: 100%;
    }
  }

  input[type=submit] {
    width: 80%;
    background-color: #00cbf6;
    color: #ffffff;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    @include breakpoint (767) {
      display: block;
      margin: 20px auto;
    }
  }

  input[type=submit]:hover {
    background-color: #18cfab;
  }
}