.fun-fact {
  .row {
    .option {
      padding-bottom: 50px;
      @include breakpoint(480) {
        padding-bottom: 15px;
        .image-option {
          padding-top: 20px !important;
          padding-bottom: 0 !important;
        }
        .title-option {
          margin: 0 !important;
        }
      }
      &:nth-last-of-type(odd) {
        padding: 0;
        .title-option {
          color: #25333c;
        }
      }
      .number-fun {
        color: #fff;
        font-size: 36px;
        font-weight: 700;
      }
      .image-option {
        padding-top: 60px;
        padding-bottom: 25px;
      }
      .title-option {
        text-transform: none;
      }
    }
  }
  .price {
    .container {
      .block-price {
        background-color: #f8fcfe;
        box-shadow: 0 0 1px 1px #ececec;
        padding: 0;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        margin-bottom: 50px;
        &:nth-last-of-type(2) {
          .offer {
            visibility: visible;
          }
        }
        &:hover {
          box-shadow: 0 0 3px 3px #e1e1e1;
          z-index: 1;
          .offer {
            background-color: #18cfab;
          }
          .title-price {
            color: #18cfab;
          }
          .price {
            background-color: #18cfab;
          }
          .d-flex {
            .link-buy {
              background-color: #18cfab;
            }
          }
        }
        .offer {
          visibility: hidden;
          position: absolute;
          top: 2%;
          right: -15%;
          width: 50%;
          background-color: #2e4a5b;
          @include transform(rotateZ(45deg));
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          @include breakpoint(991) {
            font-size: 10px;
          }
        }
        .title-price {
          font-size: 24px;
          font-weight: 700;
          color: #717171;
          text-align: center;
          text-transform: uppercase;
          padding-top: 25px;
          padding-bottom: 15px;
          @include breakpoint(992) {
            font-size: 15px;
          }
          @include breakpoint(767) {
            font-size: 24px;
          }
        }
        .price {
          background-color: #2e4a5b;
          font-size: 40px;
          color: #fff;
          text-align: center;
          padding: 20px 0;
          .price-month {
            font-size: 14px;
          }
        }
        .list-price {
          font-size: 14px;
          text-align: center;
          .item-price {
            padding: 10px 0;
            border: 1px solid #ececec;
          }
        }
        .d-flex {
          .link-buy {
            text-transform: uppercase;
            color: #fff;
            background-color: #2e4a5b;
            padding: 10px 40px;
            margin: 15px 0;
            border-radius: 5px;
          }
        }
      }
    }
  }
}