.feedback {
  background-color: #2e4a5b;
  position: relative;
  .button {
    right: 32%;
    bottom: 32%;
    position: absolute;
    .fa-angle-left {
      right: 485px;
    }
  }
  .title-feature {
    color: #fff;
    @include breakpoint(767) {
      padding: 60px 0;
      font-size: 20px;
    }
  }
  .slide-feedback {
    text-align: center;
    font-family: Montserrat;
    color: #fff;
    margin-bottom: 40px;
    @include breakpoint(575) {
      margin-bottom: 80px;
    }
    .image-slide {
      @include flexbox();
      @include justify-content(center);
    }
    .content-feedback {
      width: 60%;
      color: #fff;
      margin: 45px auto;
      font-size: 16px;
      @include breakpoint(767) {
        width: 90%;
        margin: 20px auto;
      }
    }
    .name-feedback {
      color: #18cfab;
      margin-bottom: 25px;
    }
    .work-feedback {
      margin-bottom: 25px;
      color: #bbbbbb;
    }
    .item-slide {
      border: 8px solid rgba(31, 218, 181, 0.2);
      border-radius: 100%;
      margin: 0 auto;
      width: 145px;
      height: 145px;
    }
  }
  .feedback-nav {
    position: relative;
    width: 25%;
    bottom: 0;
    left: 50%;
    @include transform(translateX(-50%));
    padding-bottom: 50px;
    @include breakpoint(991) {
      width: 33%;
    }
    @include breakpoint(767) {
      padding-bottom: 10px;
      width: 23%;
    }
    @include breakpoint(575) {
      display: none;
    }
    .div-image {
      border: 2px solid transparent;
      width: 70px !important;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      @include breakpoint(767) {
        height: 40px;
        width: 40px !important;
      }
      .image-nav {
        max-height: 100%;
        height: auto;
        width: auto;
      }
    }
    .fa-angle-left {
      position: absolute;
      background-color: transparent;
      border: 1px solid #fff;
      left: -60px;
      top: 50px;
      color: #fff;
      padding: 10px 20px;
      font-size: 20px;
    }
    .fa-angle-right {
      position: absolute;
      background-color: transparent;
      top: 50px;
      right: -60px;
      color: #fff;
      padding: 10px 20px;
      font-size: 20px;
      border: 1px solid #fff;
    }
    .fa {
      &:hover {
        background-color: #18cfab;
      }
    }
    .slick-list {
      padding: 25px 15px !important;
      .slick-track {
        .slick-slide {
          border: 2px solid transparent;
        }
        .slick-center {
          position: relative;
          top: -25px;
          border-radius: 100%;
          .div-image {
            border-color: #18cfab;
          }
          @include breakpoint(767) {
            top: -10px;
          }
        }
      }
    }
  }
}
